.profile {
    margin: 0 auto;
    width: 350px;
    text-align: center;
    border: 2px solid #2E2E2E;
    border-radius: 10px;
    font-size: 20px;
    overflow: hidden;
}

.profileImg {
    margin-top: 20px;
    width: 200px;
    border-radius: 50%;
    background-color: #444444;
}

.name {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.info {
    font-family: "Inter Tight", sans-serif;
    color: #7A7A7A;
}

.list {
    display: flex;
    margin-top: 10px;
}

.list li {
    font-family: "Inter Tight", sans-serif;
    background-color: #B2B2B2;
    border-top: 2px solid #858585;
    border-right: 2px solid #858585;
    border-bottom: none;
    padding: 10px;
    width: calc(100% / 3);
}

.list li:last-child {
    border-right: none;
}
  
.bold {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
}